{% extends "basic.html" %}
{% block title %} Floating-Bridge {% endblock %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <form method="POST">

        {% if envset %}
        {{ envset }}
        {% endif %}

        {% if partnerset %}
        {{ partnerset }}
        {% endif %}

        {% if platformset %}
        {{ platformset }}
        {% endif %}

        {% if typeset %}
        {{ typeset }}
        {% endif %}

        {% if levelset %}
        {{ levelset }}
        {% endif %}

        {% if quantityset %}
        {{ quantityset }}
        {% endif %}

        {{ form.envset.label }}: {{ form.envset(class="input-sm") }}
        {{ form.partnerset.label }}: {{ form.partnerset(class="input-sm") }}
        {{ form.platformset.label }}: {{ form.platformset(class="input-sm") }}
        {{ form.typeset.label }}: {{ form.typeset(class="input-sm") }}
        {{ form.levelset.label }}: {{ form.levelset(class="input-sm") }}
        {{ form.quantityset.label }}: {{ form.quantityset(class="input-sm") }}
        </br>
        {{ form.submit() }}
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>

<!--<Iframe src="http://cns-etuat-34.ef.com" width="800" height="1000" scrolling="yes" frameborder="0"></iframe>-->

{% endblock %}