{% extends "basic.html" %}
{% block title %} Floating-Bridge {% endblock %}
{% block page_content %}
      <div class="page-header">
        <form method="POST",action="/submit">

		{{ form.env.label }}: {{ form.env(class="input-sm") }}
		{{ form.product.label }}: {{ form.product(class="input-sm") }}
		{{ form.username.label }}: {{ form.username(class="input-sm") }}
		{{ form.password.label }}: {{ form.password(class="input-sm") }}
		</br>
		{{ form.submit() }}
		</form>
    </div>
{% endblock %}