{% extends "basic.html" %}
{% block title %} Floating-Bridge {% endblock %}
{% block page_content %}
    <div class="page-header">
        <h1>Hello, welcome to mobile QA team!</h1>
    </div>

    <h1 style="font-size:40pt">iOS应用OTA安装<h1/>
    <h1 style="font-size:40pt">
    <a title="iPhone" href="itms-services://?action=download-manifest&url=https://10.128.58.126/uploads/test.plist">Iphone Download</a>
    <h1/>
    <a title="iPhone" href="http://192.168.1.102/uploads/server.crt">ssl 证书安装</a>

{% endblock %}