{% extends "basic.html" %}
{% block title %} Floating-Bridge {% endblock %}
{% block page_content %}
    <div class="page-header">

        <h3>V1:</h3>
        <ul>
        <li><a href="http://mobilefirst.englishtown.com/services/school/_tools/progress/SubmitScoreHelper.aspx?newengine=true&token=">UAT</a></li>

        <li><a href="http://qa.englishtown.com/services/school/_tools/progress/SubmitScoreHelper.aspx?newengine=true&token=">QA</a></li>

        </ul>

        <h3>V2:</h3>
        <ul>
        <li><a href="http://mobilefirst.englishtown.com/services/api/school/_tools/SubmitScoreHelper.aspx">UAT</a></li>

        <li><a href="http://qa.englishtown.com/services/api/school/_tools/SubmitScoreHelper.aspx">QA</a></li>

        </ul>
    </div>
      <div class="page-header">
        <form method="POST">

        {% if usernameset %}
            {{ usernameset }}
        {% endif %}

        {% if levelset %}
            {{ levelset }}
        {% endif %}


		{{ form.usernameset.label }}: {{ form.usernameset(class="input-sm") }}
		{{ form.levelset.label }}: {{ form.levelset(class="input-sm") }}
		</br>
		{{ form.submit() }}
		</form>
    </div>
{% endblock %}