<html>
<head>
<title>test</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}  
<form method="POST",action="/submit">
    {{ form.hidden_tag()}}
    {{ form.name.label }}{{form.name()}}
    </br>
    {{ form.passwd.label }}{{form.passwd()}}
    </br>
    {{form.submit()}}
</form>
</body>
</html>